body {
  background-image: url(http://www.earthseaimagery.com/images/steam_schooners_going_up_river_pc.jpg);
  background-size: cover;
  text-align: center;
}

div3 {
  color: black;
  font-family: times;
  font-size: 80pt;

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div2 {
  color: black;
  font-family: helvetica;
  font-style: italic;
  font-style: bold;
  font-size: 19pt;

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
div1 {
  color: black;
  font-family: helvetica;
  font-style: bold;
  font-size: 12pt;

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
